{% extends 'Estructura/base.html' %}

{% block content %}

{% load static %}

<section id="modulo_aulas_registrar">
    <div class="contenedor_aulas_academicas">
        <h3>Aulas Académicas</h3>

        <div class="card_registrar_aulas">
            <h4>Registrar Aulas Académicas</h4>

            <form method="post" id="formulario_registrar">
                {% csrf_token %}

                <div class="campo campo-completo">
                    <label for="nombre_aula">Nombre / Número del Aula:</label>
                    <input type="text" name="nombre_aula" id="nombre_aula" placeholder="Máximo 20 caracteres"
                        maxlength="20" autocomplete="off" required>
                    <small id="mensaje_nombre_aula"></small>
                </div>
                <div class="campo campo-completo">
                    <label for="observacion_aula">Nota / Observación:</label>
                    <input type="text" name="observacion_aula" id="observacion_aula" placeholder="Máximo 20 caracteres"
                        maxlength="20" autocomplete="off" required>
                    <small id="mensaje_nombre_aula"></small>
                </div>
                <div class="campo">
                    <label for="piso_edificio">Piso del Edificio:</label>
                    <input type="text" name="piso_edificio" id="piso_edificio" placeholder="Máximo 20 caracteres"
                        maxlength="20" autocomplete="off" required>
                </div>
                <div class="campo">
                    <label for="tipos_aulas">Tipos de Aulas:</label>
                    <select name="tipos_aulas" id="tipos_aulas">
                        <option value="">Selecciona una de las opciones</option>
                        <option value="ACADEMICA">Aula Académica</option>
                        <option value="PRACTICA">Aula Práctica o Laboratorios</option>
                    </select>
                </div>
                <div class="campo">
                    <label for="pnfs_imparte">P.N.F:</label>
                    <select name="pnfs_imparte" id="pnfs_imparte"></select>
                </div>
                <div class="campo">
                    <label for="secciones_registradas">Secciones Académicas:</label>
                    <select name="secciones_registradas" id="secciones_registradas"></select>
                </div>

                <input type="submit" id="btn_registrar" value="Registrar Aula">
            </form>
        </div>
    </div>
</section>

<script src="{% static 'Funciones_Asincronas/Director_General/Aula/registrar_aula.js' %}"></script>

{% endblock %}