{% load static %}

{% if request.session.usuario_nombre and request.session.registro_completado %}
<aside id="barra_lateral">
    <h3 class="menu-title">MENÚ</h3>

    {% if "Director General" in request.session.rol %}
    <a href="{% url 'panel_usuario' %}">Inicio</a>
    <details>
        <summary>Gestión Personal</summary>

        <a href="{% url 'pre_reg_personal' %}">Registro Personal</a>
        <a href="{% url 'vis_per_asig' %}">Visualizar Personal Registrados</a>
        <a href="{% url 'act_per_asig' %}">Gestionar Cargos Personal</a>
    </details>
    <details>
        <summary>P.N.F</summary>

        <a href="{% url 'reg_pnf' %}">Registrar P.N.F</a>
        <a href="{% url 'ver_pnf' %}">Consultar P.N.F</a>
        <a href="{% url 'act_pnf' %}">Actualizar P.N.F</a>
    </details>
    <details>
        <summary>Calendario Académico</summary>

        <a href="{% url 'reg_calendario' %}">Registrar Calendario</a>
        <a href="{% url 'vis_cal_reg' %}">Visualizar Calendario</a>
    </details>
    <details>
        <summary>Materia</summary>

        <a href="{% url 'reg_mat' %}">Registrar Materia</a>
        <a href="{% url 'mat_lista' %}">Visualizar Materia</a>
        <a href="{% url 'mat_guardar' %}">Actualizar Materia</a>
    </details>
    <details>
        <summary>Autoridad</summary>

        <a href="{% url 'reg_auts' %}">Registrar Autoridad</a>
        <a href="{% url 'vist_auts' %}">Visualizar Autoridad</a>
        <a href="{% url 'act_datos_aut' %}">Actualizar Autoridad</a>
        <a href="{% url 'reasig_cargo' %}">Reasignar Cargos</a>
    </details>
    <details>
        <summary>Aulas Académicas</summary>

        <a href="{% url 'reg_aula' %}">Registrar Aulas</a>
        <a href="{% url 'act_aula_acad' %}">Visualizar Aulas</a>
    </details>
    <details>
        <summary>Secciones Académicas</summary>

        <a href="{% url 'reg_sec' %}">Registrar Sección</a>
        <a href="{% url 'guardar_act_sec' %}">Visualizar Sección</a>
    </details>
    {% endif %}

    {% if "Control de Estudio" in request.session.rol %}

    {% endif %}

    {% if "Coordinador PNF" in request.session.rol %}
    <details>
        <summary>Asignar Materias</summary>

        <a href="{% url 'asig_mat_doc' %}">Registrar Asignación</a>
        <a href="{% url 'act_asig' %}">Visualizar Asignación</a>
        <a href="{% url 'asig_desact' %}">Reasignar Materia</a>
    </details>
    <details>
        <summary>Planificacion Académica</summary>

        <a href="{% url 'vis_pl_env' %}">Gestión Plan de Actividades</a>
    </details>
    <details>
        <summary>Inscripción</summary>

        <a href="{% url 'inscr_est' %}">Inscripción Estudiante</a>
        <a href="{% url 'rech_inscr_est' %}">Inscribir Rechazados</a>
    </details>
    {% endif %}

    {% if "Docente" in request.session.rol %}
    <details>
        <summary>Planificacion Académica</summary>

        <a href="{% url 'reg_pl_act' %}">Registrar Plan de Actividades</a>
        <a href="{% url 'vis_plan_est' %}">Visualizar Plan de Actividades</a>
    </details>
    <details>
        <summary>Notas Académicas</summary>

        <a href="{% url 'reg_nota_acad' %}">Registrar Notas Académicas</a>
        <a href="{% url 'vis_not_acad' %}">Visualizar Notas Académicas</a>
        <a href="{% url 'mod_not_acad' %}">Modificar Notas Académicas</a>
    </details>
    <details>
        <summary>Evaluaciones Reparación</summary>
        <a href="{% url 'reg_eval_rep' %}">Registrar Evaluación a Reparar</a>
        <a href="{% url 'vis_eval_rep' %}">Visualizar Evaluaciones a Reparar</a>
        <a href="{% url 'mod_eval_rep' %}">Modificar Evaluaciones a Reparar</a>
    </details>
    <details>
        <summary>Reparación</summary>
        <a href="{% url 'reg_rep_not' %}">Registrar Notas de Reparación</a>
        <a href="{% url 'vis_rep_not' %}">Visualizar Notas de Reparación</a>
        <a href="{% url 'mod_rep_reg' %}">Modificar Notas de Reparación</a>
    </details>
    {% endif %}

    {% if "Estudiante" in request.session.rol %}
    <details>
        <summary>Notas Académicas</summary>

        <a href="{% url 'info_acad_est' %}">Información Académica</a>
    </details>
    {% endif %}
</aside>
{% endif %}