{% load static %}

<header
    id="encabezado-principal-carsce"
    class="{% if request.session.usuario_nombre %}header-logueado{% endif %}"
>

    <nav id="navegacion-principal-carsce">

        <!-- =====================================================
             IDENTIDAD INSTITUCIONAL
             ===================================================== -->

        <div class="encabezado-institucional-carsce">

            <!-- Gobierno Bolivariano -->

            <div
                class="encabezado-institucional-carsce-bloque encabezado-institucional-carsce-gobierno"
            >

                <img
                    src="{% static 'Imagenes/MPPE.png' %}"
                    alt="Gobierno Bolivariano de Venezuela"
                    class="encabezado-institucional-carsce-logo-gobierno"
                >

                <h1 class="encabezado-institucional-carsce-titulo">
                    Gobierno Bolivariano
                    <br>
                    de Venezuela
                </h1>

                <span class="encabezado-institucional-carsce-separador">
                    |
                </span>

            </div>


            <!-- Ministerio -->

            <div
                class="encabezado-institucional-carsce-bloque encabezado-institucional-carsce-ministerio"
            >

                <h1 class="encabezado-institucional-carsce-titulo">
                    Ministerio del Poder Popular
                    <br>
                    para la Educación Universitaria
                </h1>

                <span class="encabezado-institucional-carsce-separador">
                    |
                </span>

            </div>


            <!-- Universidad -->

            <div
                class="encabezado-institucional-carsce-bloque encabezado-institucional-carsce-universidad"
            >

                <img
                    src="{% static 'Imagenes/UPT_LOGO.png' %}"
                    alt="UPT Barinas"
                    class="encabezado-institucional-carsce-logo-universidad"
                >

                <h1 class="encabezado-institucional-carsce-titulo">
                    Universidad Politécnica Territorial del
                    <br>
                    Estado Barinas José Félix Ribas
                </h1>

            </div>


            <!-- Botón hamburguesa -->

            <button
                type="button"
                id="hamburger-btn"
                class="encabezado-institucional-carsce-hamburguesa"
                aria-label="Abrir menú"
            >
                <i class="fa-solid fa-bars"></i>
            </button>

        </div>


        <!-- =====================================================
             NAVEGACIÓN PÚBLICA
             ===================================================== -->

        {% if not request.session.usuario_nombre %}

        <div
            id="menu-contenedor"
            class="navegacion-publica-carsce"
        >

            <!-- Marca -->

            <div class="marca-carsce-publica">
                <span>CARSCE</span>
            </div>


            <!-- Menú -->

            <ul class="navegacion-publica-carsce-lista">

                <!-- Inicio -->

                <li class="navegacion-publica-carsce-item">

                    <a
                        href="{% url 'foro' %}"
                        class="navegacion-publica-carsce-enlace"
                    >

                        <i class="fa-solid fa-house"></i>

                        <span>Inicio</span>

                    </a>

                </li>


                <!-- Institución -->

                <li
                    class="navegacion-publica-carsce-item navegacion-publica-carsce-dropdown"
                >

                    <a
                        href="#"
                        class="navegacion-publica-carsce-enlace navegacion-publica-carsce-toggle"
                    >

                        <i class="fa-solid fa-building-columns"></i>

                        <span>Institución</span>

                        <i class="fa-solid fa-chevron-down navegacion-publica-carsce-flecha"></i>

                    </a>


                    <ul class="navegacion-publica-carsce-submenu">

                        <li class="navegacion-publica-carsce-subitem">

                            <a
                                href="{% url 'Historia' %}"
                                class="navegacion-publica-carsce-subenlace"
                            >

                                <i class="fa-solid fa-book-open"></i>

                                <span>Nuestra Historia</span>

                            </a>

                        </li>


                        <li class="navegacion-publica-carsce-subitem">

                            <a
                                href="{% url 'mision_vision' %}"
                                class="navegacion-publica-carsce-subenlace"
                            >

                                <i class="fa-solid fa-bullseye"></i>

                                <span>Misión y Visión</span>

                            </a>

                        </li>

                    </ul>

                </li>


                <!-- Formación Estudiantil -->

                <li
                    class="navegacion-publica-carsce-item navegacion-publica-carsce-dropdown"
                >

                    <a
                        href="#"
                        class="navegacion-publica-carsce-enlace navegacion-publica-carsce-toggle"
                    >

                        <i class="fa-solid fa-graduation-cap"></i>

                        <span>Formación Estudiantil</span>

                        <i class="fa-solid fa-chevron-down navegacion-publica-carsce-flecha"></i>

                    </a>


                    <ul class="navegacion-publica-carsce-submenu">

                        <li class="navegacion-publica-carsce-subitem">

                            <a
                                href="{% url 'pst' %}"
                                class="navegacion-publica-carsce-subenlace"
                            >

                                <i class="fa-solid fa-microchip"></i>

                                <span>
                                    Proyecto Socio-Tecnológico (PST)
                                </span>

                            </a>

                        </li>


                        <li class="navegacion-publica-carsce-subitem">

                            <a
                                href="{% url 'psc' %}"
                                class="navegacion-publica-carsce-subenlace"
                            >

                                <i class="fa-solid fa-users"></i>

                                <span>
                                    Proyecto Socio-Comunitario (PSC)
                                </span>

                            </a>

                        </li>

                    </ul>

                </li>


                <!-- Guía Estudiantil / Docente -->

                <li
                    class="navegacion-publica-carsce-item navegacion-publica-carsce-dropdown"
                >

                    <a
                        href="#"
                        class="navegacion-publica-carsce-enlace navegacion-publica-carsce-toggle"
                    >

                        <i class="fa-solid fa-chalkboard-user"></i>

                        <span>
                            Guía Estudiantil / Docente
                        </span>

                        <i class="fa-solid fa-chevron-down navegacion-publica-carsce-flecha"></i>

                    </a>


                    <ul class="navegacion-publica-carsce-submenu">

                        <li class="navegacion-publica-carsce-subitem">

                            <a
                                href="{% url 'trayectoria' %}"
                                class="navegacion-publica-carsce-subenlace"
                            >

                                <i class="fa-solid fa-route"></i>

                                <span>
                                    Trayectoria Académica
                                </span>

                            </a>

                        </li>


                        <li class="navegacion-publica-carsce-subitem">

                            <a
                                href="{% url 'Planificacion_Docente' %}"
                                class="navegacion-publica-carsce-subenlace"
                            >

                                <i class="fa-solid fa-calendar-check"></i>

                                <span>
                                    Planificación Docente
                                </span>

                            </a>

                        </li>

                    </ul>

                </li>


                <!-- Carreras -->

                <li class="navegacion-publica-carsce-item">

                    <a
                        href="{% url 'carreras_impartidas' %}"
                        class="navegacion-publica-carsce-enlace"
                    >

                        <i class="fa-solid fa-book-bookmark"></i>

                        <span>
                            Carreras Impartidas
                        </span>

                    </a>

                </li>


                <!-- Acceder -->

                <li
                    class="navegacion-publica-carsce-item navegacion-publica-carsce-acceso"
                >

                    <a
                        href="{% url 'inicio_sesion' %}"
                        class="navegacion-publica-carsce-boton-acceso"
                    >

                        <i class="fa-solid fa-right-to-bracket"></i>

                        <span>
                            Acceder
                        </span>

                    </a>

                </li>

            </ul>

        </div>

        {% endif %}


        <!-- =====================================================
             NAVEGACIÓN DE USUARIO AUTENTICADO
             ===================================================== -->

        {% if request.session.usuario_nombre %}

        <div
            id="menu-contenedor-logueado"
            class="navegacion-autenticada-carsce"
        >

            <!-- Marca -->

            <div class="marca-carsce-autenticada">
                <span>CARSCE</span>
            </div>


            <!-- =================================================
                 NÚCLEO DEL USUARIO
                 ================================================= -->

            <div class="navegacion-autenticada-carsce-nucleo">

                <span class="directorgeneral-panel-carsce-nucleo">

                    <i class="fa-solid fa-location-dot"></i>

                    <span>Núcleo:</span>

                    <strong>
                        {{ nucleo_usuario }}
                    </strong>

                </span>

            </div>


            <!-- =================================================
                 MENÚ DEL USUARIO
                 ================================================= -->

            <ul class="navegacion-autenticada-carsce-lista">

                <li
                    class="navegacion-autenticada-carsce-item navegacion-autenticada-carsce-dropdown"
                >

                    <a
                        href="#"
                        class="navegacion-autenticada-carsce-enlace"
                    >

                        <i
                            class="fa-solid fa-circle-user navegacion-autenticada-carsce-avatar"
                        ></i>

                        <span class="navegacion-autenticada-carsce-nombre">
                            {{ request.session.usuario_nombre }}
                        </span>

                        <i
                            class="fa-solid fa-chevron-down navegacion-autenticada-carsce-flecha"
                        ></i>

                    </a>


                    <!-- Menú del usuario -->

                    <ul class="navegacion-autenticada-carsce-submenu">

                        <li class="navegacion-autenticada-carsce-subitem">

                            <a
                                href="#"
                                class="navegacion-autenticada-carsce-subenlace"
                            >

                                <i class="fa-solid fa-sliders"></i>

                                <span>
                                    Configuración
                                </span>

                            </a>

                        </li>


                        <li class="navegacion-autenticada-carsce-subitem">

                            <a
                                href="{% url 'cerrar_sesion' %}"
                                class="navegacion-autenticada-carsce-subenlace navegacion-autenticada-carsce-cerrar"
                            >

                                <i class="fa-solid fa-power-off"></i>

                                <span>
                                    Cerrar Sesión
                                </span>

                            </a>

                        </li>

                    </ul>

                </li>

            </ul>

        </div>

        {% endif %}

    </nav>

</header>