{% load static %}

<footer id="footer">
    <div class="footer-contenedor">

        <div class="footer-logo">
            <img
                src="{% static 'Imagenes/Logo_UPT.png' %}"
                alt="Logo de la Institución"
            >
        </div>

        <div class="footer-texto">
            Todos los derechos reservados a CARSCE.<br>
            Queda prohibida su reproducción o uso no autorizado
            total o parcial<br>
            sin previa autorización de la institución.
        </div>

        <div class="footer-redes">
            <a href="https://www.instagram.com/uptbjfr_cuentaoficial/" aria-label="Instagram" target="_blank">
                <i class="fa-brands fa-instagram"></i>
            </a>
            
            <a href="https://www.facebook.com/uptjfrdace/?locale=es_LA" aria-label="Facebook" target="_blank">
                <i class="fa-brands fa-facebook-f"></i>
            </a>
        </div>

    </div>
</footer>
