@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('encabezado.css');
@import url('barra_lateral.css');
@import url('pie_pagina.css');

@import url('../Foro/Historia.css');
@import url('../Foro/mision_vision.css');
@import url('../Foro/Proyectos.css');
@import url('../Foro/Trayectos.css');
@import url('../Foro/carreras_impartidas.css');
@import url('../Foro/info_sedes.css');
@import url('../Foro/mantenimiento.css');

@import url('../formulario.css');
@import url('../Sesion/formulario_inicio_sesion.css');
/* Estilos del Login */
@import url('../Sesion/formularios_registros.css');
/* Estilos panel de registro*/
@import url('../Sesion/formulario_registro_personal.css');
/* Estilos formulario de registro personal */
@import url('../Sesion/formulario_registro_estudiantil.css');
/* Estilos formulario registro estudiantil */
@import url('../Sesion/formularios_recuperar_credenciales.css');
/*Estilos formulario recuperar credenciales*/

@import url('../Logueo/logueado.css');
@import url('../Logueo/completar_registro.css');

/*Panel Director General*/

/*===============================*/
/*    PUTA VIDA CON GITHUB      */
/*===============================*/
@import url('../Logueo/panel_director_general.css');

@import url('../Logueo/Director_General/gestionar_personal/gestionar_personal.css');
@import url('../Logueo/Director_General/gestionar_personal/pre_registro_personal.css');
@import url('../Logueo/Director_General/gestionar_personal/visualizar_personal.css');

@import url('../Logueo/Director_General/aula/registrar_aula.css');
@import url('../Logueo/Director_General/aula/visualizar_aula.css');

@import url('../Logueo/Director_General/autoridades/actualizar_autoridades.css');
@import url('../Logueo/Director_General/autoridades/reasignar_autoridades.css');
@import url('../Logueo/Director_General/autoridades/registrar_autoridades.css');
@import url('../Logueo/Director_General/autoridades/visualizar_autoridades.css');

@import url('../Logueo/Director_General/calendario_notas/registrar_calendario.css');
@import url('../Logueo/Director_General/calendario_notas/visualizar_calendario.css');

@import url('../Logueo/Director_General/materia/actualizar_materia.css');
@import url('../Logueo/Director_General/materia/registrar_materia.css');
@import url('../Logueo/Director_General/materia/visualizar_materia.css');

@import url('../Logueo/Director_General/pnf/actualizar_pnf.css');
@import url('../Logueo/Director_General/pnf/registrar_pnf.css');
@import url('../Logueo/Director_General/pnf/consultar_pnf.css');

@import url('../Logueo/Director_General/secciones_academicas/registrar_seccion.css');
@import url('../Logueo/Director_General/secciones_academicas/visualizar_seccion.css');

:root {
    --color-base: white;
    /* Para tarjetas y fondos en especifico */
    --color-neutro: black;
    /* Letras */
    --color-intermitente: #555;
    /* Letras de menor importancia */
    --color-claro: #ccc;
    --shadows: 0px 0px 20px rgba(0, 0, 0, .15);
    /* Sombras general */
    /* Paleta de colores */
    --color-azulE: #211C84;
    /* Color primordial en el encabezado */
    --color-hover-azulE: #2f6fd6;
    /* La sombra para el color del encabezado */
    --color-botones: #FFE100;
    /* Para los botones */
    /* Paleta del foro */
    --color-principal: #8C1007;
    /* Color principal del foro */
    --sidebar: #111827;
    --sidebar-hover: #1F2937;
    --sidebar-active: #2563EB;

    --text: #E5E7EB;
    --text-muted: #9CA3AF;

    --background: #F8FAFC;

    --shadow-: 0 10px 35px rgba(0, 0, 0, .12);

    --primario: #1D4ED8;
    --primario-hover: #2563EB;

    --verde: #10B981;
    --naranja: #F59E0B;
    --rojo: #EF4444;

    --texto: #1F2937;
    --texto-secundario: #6B7280;

    --fondo: #F3F6FB;
    --blanco: #FFFFFF;

    --borde: #E5E7EB;

    --radio: 20px;

    --sombra-suave:
        0 8px 30px rgba(15, 23, 42, .05);

    --sombra-hover:
        0 18px 45px rgba(15, 23, 42, .10);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

.oculto {
    display: none;
}