{% extends 'Estructura/base.html' %}

{% block content %}

{% load static %}

<section id="modulo_secciones_registrar">
    <div class="contenedor_secciones_registrado">
        <h3>Secciones UPT "José Félix Ribas"</h3>

        <div class="card_registrar_seccion">
            <h4>Registrar Sección"</h4>

            <form method="post" id="formulario_registrar">
                {% csrf_token %}

                <!-- FILA DE CAMPOS: Sección y Turno -->
                <div class="campos">
                    <div class="campo">
                        <label for="registro_seccion">Sección:</label>
                        <input type="text" name="registro_seccion" id="registro_seccion"
                            placeholder="Máximo 5 caracteres" maxlength="5" autocomplete="off" required>
                        <small id="mensaje_nombre_seccion"></small>
                    </div>
                    <div class="campo">
                        <label for="registro_turno">Turno:</label>
                        <select name="registro_turno" id="registro_turno">
                            <option value="">Seleccione un Turno</option>
                            <option value="Diurno">Diurno</option>
                            <option value="Nocturno">Nocturno</option>
                            <option value="Fines de Semana">Fines de Semana</option>
                        </select>
                    </div>
                </div>

                <input type="submit" id="btn_registro" value="Registrar Sección">
            </form>
        </div>
    </div>
</section>

<script src="{% static 'Funciones_Asincronas/Director_General/Seccion/registrar_sesccion.js' %}"></script>

{% endblock %}