{% extends 'Estructura/base.html' %}

{% block content %}

{% load static %}

<section id="modulo_materias">
    <div class="contenedor_modulo_materias">
        <h2>Materias UPT "José Félix Ribas"</h2>

        <h3>Buscar Materia</h3>

        <form method="post" id="buscar_materia">
            {% csrf_token %}

            <label for="codigos_buscar_materias">Código del Materia:</label>
            <input type="text" name="codigo" id="codigos_buscar_materias" minlength="7" maxlength="7"
                pattern="[A-Z]{4}[0-9]{3}" title="Debe contener 4 letras mayúsculas y 3 números. Ejemplo: MATE001"
                placeholder="Escribir el código de la materia" autocomplete="off" required>

            <input type="submit" value="Buscar Materia">
        </form>


        <h3>Actuailizar Materias</h3>

        <form method="post" id="actualizar_materia">
            {% csrf_token %}
            <input type="hidden" name="materiaseleccionado" id="materia_seleccionado">

            <label for="nombres_actualizar_materias">Nombre de la Materia:</label>
            <input type="text" name="nombresmaterias" id="nombres_actualizar_materias" autocomplete="off" required>

            <label for="THEA">Hora Trabajo Estudio Acompañado:</label>
            <input type="text" name="THEA" id="THEA" maxlength="2" placeholder="Hora de Trabajo de Estudio Acompañado"
                autocomplete="off" required>

            <label for="THEI">Hora Trabajo Estudio Independiente:</label>
            <input type="text" name="THEI" id="THEI" maxlength="2"
                placeholder="Hora de Trabajo de Estudio Independiente" autocomplete="off" required>

            <label for="reparacion_actualizar_materia">Reparación Materia:</label>
            <select name="reparacionmateria" id="reparacion_actualizar_materia">
                <option value="Si">Si</option>
                <option value="No">No</option>
            </select>

            <label for="periodo_actualizar_materia">Periodo Académico de la Materia:</label>
            <select name="periodomateria" id="periodo_actualizar_materia" required>
                <optgroup label="Inicial">
                    <option value="INICIAL_TRIMESTRE">Inicial Trimestre (P.I.U)</option>
                    <option value="INICIAL_SEMESTRE">Inicial Semestre (P.I.U)</option>
                </optgroup>
                <optgroup label="Reparación">
                    <option value="REPARACION">Reparación</option>
                </optgroup>
                <optgroup label="Tramo">
                    <option value="TRIMESTRE">Trimestre</option>
                    <option value="TRAMO_I">I Tramo</option>
                    <option value="TRAMO_II">II Tramo</option>
                    <option value="TRAMO_III">III Tramo</option>
                    <option value="TRAMO_I_II">I y II Tramos</option>
                    <option value="TRAMO_II_III">II y III Tramos</option>
                    <option value="TRAMO_I_III">I y III Tramos</option>
                </optgroup>
                <optgroup label="Semestre">
                    <option value="SEMESTRE">Semestre</option>
                    <option value="SEMESTRE_I">I Semestre</option>
                    <option value="SEMESTRE_II">II Semestre</option>
                </optgroup>
            </select>

            <label for="pnfs_actualizar_materia">P.N.F que Pertenece la Materia:</label>
            <select name="pnfmateria" id="pnfs_actualizar_materia"></select>

            <label for="trayecto_actualizar_materia">Trayecto que Pertenece la Materia:</label>
            <select name="trayecto" id="trayecto_actualizar_materia"></select>

            <input type="submit" id="btn_registrar" value="Actualizar Materia">
        </form>
    </div>
</section>

<script src="{% static 'Funciones_Asincronas/Director_General/Materia/actualizar_materia.js' %}"></script>

{% endblock %}