{% extends 'Estructura/base.html' %}

{% block content %}

{% load static %}

<section id="modulo_modificar_reparacion">
    <div class="contenedor_modificar_reparacion">
        <h2>Modificar Evaluaciones Reparación</h2>

        <form method="post" id="formulario_actualizar">
            {% csrf_token %}

            <div class="grupo_campo">
                <label for="nucleo_asignado">Núcleo Asignado:</label>
                <select name="nucleo_asignado" id="nucleo_asignado"></select>
            </div>

            <div class="grupo_campo">
                <label for="pnf_asignado">P.N.F Asignado:</label>
                <select name="pnf_asignado" id="pnf_asignado"></select>
            </div>

            <div class="grupo_campo">
                <label for="materia_asignada">Materia(s) Registrada:</label>
                <select name="materia_asignada" id="materia_asignada"></select>
            </div>

            <div class="grupo_campo">
                <label for="trayecto_academico">Trayecto Académico:</label>
                <input type="text" name="trayecto_academico" id="trayecto_academico" readonly>
            </div>

            <div id="contenedor_evaluaciones"></div>
            <button type="button" id="btn_agregar_detalle">+ Agregar detalle</button>

            <div class="contenedor_boton_notas">
                <input type="submit" value="Actualizar">
            </div>
        </form>
    </div>
</section>

<script src="{% static 'Funciones_Asincronas/Docente/modificar_evaluaciones_reparar.js' %}"></script>

{% endblock %}