{% extends 'Estructura/base.html' %}

{% block content %}

{% load static %}

<section id="modulo_visualizar_reparacion">
    <div class="contenedor_visualizar_reparacion">
        <h2>Visualizar Reparación</h2>

        <form method="post">
            {% csrf_token %}

            <div class="grupo_campo">
                <label for="nucleo_asignado">Núcleo Asignado:</label>
                <select name="nucleo_asignado" id="nucleo_asignado"></select>
            </div>

            <div class="grupo_campo">
                <label for="pnf_asignado">P.N.F Asignado:</label>
                <select name="pnf_asignado" id="pnf_asignado"></select>
            </div>

            <div class="grupo_campo">
                <label for="materia_asignada">Materia(s) Reparadas:</label>
                <select name="materia_asignada" id="materia_asignada"></select>
            </div>

            <div class="grupo_campo">
                <label for="fecha_registradas">Fecha Registradas:</label>
                <select name="fecha" id="fecha_registradas"></select>
            </div>

            <div class="grupo_campo">
                <label for="trayecto_academico">Trayecto:</label>
                <input type="text" name="trayecto_academico" id="trayecto_academico" readonly
                    placeholder="Cargando trayecto...">
            </div>

            <div id="contenedor_evaluaciones"></div>
        </form>
    </div>
</section>

<script src="{% static 'Funciones_Asincronas/Docente/visualizar_reparaciones.js' %}"></script>

{% endblock %}