{% extends 'Estructura/base.html' %}

{% block content %}

{% load static %}

<section id="modulo_visualizar_evaluaciones">
    <div class="contenedor_visualizar_evaluaciones">
        <h2>Visualizar Evaluaciones Reparación</h2>

        <table>
            <thead>
                <th>ID</th>
                <th>P.N.F</th>
                <th>MATERIA</th>
                <th>FECHA</th>
                <th>EVALUACION 1</th>
                <th>EVALUACION 2</th>
                <th>EVALUACION 3</th>
            </thead>
            <tbody id="contenedor_evaluaciones"></tbody>
        </table>
    </div>
</section>

<script src="{% static 'Funciones_Asincronas/Docente/visualizar_evaluaciones_reparacion.js' %}"></script>

{% endblock %}