{% extends 'Estructura/base.html' %}

{% block content %}

{% load static %}

<section id="pre_registro_personal">
    <div class="contenedor_pre_registro_personal">
        <h3>Pre Registro Personal</h3>

        <form method="post" id="formulario_registrar">
            {% csrf_token %}

            <div class="fila-campos">
                <div class="campo">
                    <label for="nombre">Nombres:</label>
                    <input type="text" name="nombres" id="nombre" autocomplete="off" placeholder="Ingrese los nombres">
                </div>

                <div class="campo">
                    <label for="apellido">Apellidos:</label>
                    <input type="text" name="apellidos" id="apellido" autocomplete="off"
                        placeholder="Ingrese los apellidos">
                </div>
            </div>

            <div class="fila-campos">
                <div class="campo">
                    <label for="cedula_identidad">Cédula Identidad:</label>
                    <div class="grupo-campo">
                        <select name="nacionalidad" id="nacionalidad">
                            <option value="">N</option>
                            <option value="V">V</option>
                            <option value="E">E</option>
                        </select>
                        <input type="text" name="cedula_identidad" id="cedula_identidad" autocomplete="off">
                    </div>
                    <small id="mensaje_cedula_identidad"></small>
                </div>

                <div class="campo">
                    <label for="numero_telefonico">Teléfono (Principal):</label>
                    <div class="grupo-campo">
                        <select name="prefijo" id="prefijo_telefono"></select>
                        <input type="text" name="telefono" id="numero_telefonico" autocomplete="off">
                    </div>
                </div>
            </div>

            <div class="campo">
                <label for="correo_electronico">Correo Electrónico (Principal):</label>
                <div class="grupo-campo">
                    <input type="text" name="correo_electronico" id="correo_electronico"
                        placeholder="Ejemplo: ejemplo123" autocomplete="off">
                    <select name="dominio" id="dominio"></select>
                </div>
                <small id="mensaje_correo_electronico"></small>
            </div>

            <div id="contenedor_perfiles">
                <label>Perfiles:</label>
                <div id="perfil"></div>
            </div>

            <div id="contenedor_pnfs_coordinador_pnf">
                <label>PNF: (Coordinador PNF)</label>
                <div id="pnf_coordinador_pnf"></div>
            </div>
            <div id="contenedor_pnfs_docente">
                <label>PNF: (Docente)</label>
                <div id="pnf_docente"></div>
            </div>

            <button type="submit" id="btn_registro">Pre Registro</button>
        </form>
    </div>
</section>

<script src="{% static 'Funcionalidades/cedula_identidad.js' %}"></script>
<script src="{% static 'Funcionalidades/correo_electronico.js' %}"></script>
<script src="{% static 'Funcionalidades/telefono.js' %}"></script>
<script src="{% static 'Funciones_Asincronas/Director_General/gestion_personal/datos_perfiles.js' %}"></script>
<script src="{% static 'Funciones_Asincronas/Director_General/gestion_personal/pre_registro_personal.js' %}"></script>

{% endblock %}