{% extends 'Estructura/base.html' %}

{% block content %}

{% load static %}

<section id="modulo_visualizar_personal_registrado">
    <div class="contenedor_visualizar_registrado">
        <h2>Visualizar Personal Registrado</h2>

        <div class="contenedor_busqueda_personal">
            <form method="post">
                {% csrf_token %}

                <label for="pnf_registrados">P.N.F</label>
                <select name="pnf_registrados" id="pnf_registrados"></select>

                <label for="perfiles_registrados">Rol:</label>
                <select name="perfiles_registrados" id="perfiles_registrados">
                    <option value="">Selecciona un perfil</option>
                    <option value="Docente">Docente</option>
                    <option value="Coordinador de PNF">Coordinador de PNF</option>
                    <option value="Encargado de Control de Estudio">Encargado de Control de Estudio</option>
                </select>
            </form>
        </div>

        <div class="contenedor_personal_registrado">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NOMBRES</th>
                        <th>APELLIDOS</th>
                        <th>C.I</th>
                        <th>ROL</th>
                        <th>P.N.F Asignados</th>
                    </tr>
                </thead>
                <tbody id="contenedor_personal_registrado"></tbody>
            </table>
        </div>
    </div>
</section>

<script
    src="{% static 'Funciones_Asincronas/Director_General/gestion_personal/visualizar_personal_registrado.js' %}"></script>

{% endblock %}