{% extends 'Estructura/base.html' %}

{% block content %}

{% load static %}

<section id="MisionVision" class="reveal">
    <div class="MisionVision-contenedor">

    <div class="MisionVision-bloque">
        <h2 class="MisionVision-titulo">Misión</h2>
        <p class="MisionVision-texto">
            Contribuir a la formación de un profesional de carácter humanista en las diferentes áreas del conocimiento, atendiendo la vocación, centrado en principios y valores universales, con sensibilidad social, ambiental-ecológica e identidad regional, nacional, latinoamericana y caribeña. Un profesional con capacidad de integrarse a un mundo pluripolar y multicultural, prestando servicios educativos de calidad que conlleven a la vinculación con la comunidad y a la creación intelectual, con la apertura de espacios de reflexión e intercambio de saberes, en función del desarrollo endógeno para la transformación y el mejoramiento de la calidad de vida de los ciudadanos y ciudadanas.
        </p>
    </div>

    <div class="MisionVision-bloque">
        <h2 class="MisionVision-titulo">Visión</h2>
        <p class="MisionVision-texto">
            Ser un referente nacional e internacional, promotor de pensamientos que generen conocimientos innovadores para el desarrollo endógeno y sostenible del país, fundamentado en los valores y principios de una sociedad socialista.
        </p>
    </div>

</div>

</section>

{% endblock %}
